name: Glossing Entries Deploy
on: 
  pull_request:
      branches:
        main
jobs:
  merge-branch:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - name: Merge with main
        uses: devmasx/merge-branch@master
        with:
          type: now
          target_branch: main
          github_token: ${{ secrets.BRY_PAT }}
          message: Merge main into this branch to deploy to dev for testing.
  deploy:
    needs: merge-branch
    strategy: 
      matrix:
        machines: [vlcdhp02]
    runs-on: ${{ matrix.machines }}
    steps:
      - uses: actions/checkout@v3
      - run: |
          cd /opt/tomcat/webapps/glossing/
          git stash
          git checkout $GITHUB_HEAD_REF
          git pull